go 1.25.5

use (
	./gen/go
	./pkg
	./services/api-gateway
	./services/auth-service
	./services/booking-service
	./services/payment-service
	./services/review-service
	./services/user-service
	./services/venue-service
	./services/master-service
	./services/chat-service
	./services/crm-service
	./services/notification-service
)
